{
   "extends": ["airbnb", "prettier"],
   "plugins": ["prettier"],
   "rules": {
      "prettier/prettier": [
         "error",
         {
            "usePrettierrc": true
         }
      ],
      "no-console": ["error", { "allow": ["log", "time", "timeEnd"] }]
   }
}
